@page "/chat"
@using QuickChat.Shared.Services
@using QuickChat.Shared.Data
@using QuickChat.Shared.Data.InitDataFactory
@using QuickChat.Client.Controllers
@using Microsoft.AspNetCore.SignalR.Client
@inject ChatService ChatService

<h3>Chat</h3>

@code {
    private static QuickChatDbContext context = DBCreateController.Context;
    private static ChatService chatService = new ChatService(context);

}
